body {
  text-align: center;
  font-family: Helvetica;

}

.Heading {
  background-image: url("../images/1.png");
}
.heading h1 {
  font-size: 70px;
  color: white;
}
nav {
  color: white;
  text-decoration: underline;
  font-size: 18px;
}
h2 {
  font-size: 32px;
}
h3 {
  font-size: 23px;
}
p {
  font-size: 14px;
}
